.selected-work{
  padding: 30px 0;
  overflow: hidden;
  @media (min-width: $sp-breakpoints-xl){
    padding: 70px 0 100px;
  }
}
.selected-work__title{
  color: $sp-color-black;
  text-align: center;
  font-family: $sp-font-Gilroy-Regular;
  font-size: 80px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;

  @media (min-width: $sp-breakpoints-md) and (max-width: $sp-breakpoints-xl){
    font-size: 150px;
    letter-spacing: 6px;
  }
  @media (min-width: $sp-breakpoints-xl){
    font-size: 212px;
    letter-spacing: 8.48px;
  }
}
.selected-work__box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  @media (min-width: $sp-breakpoints-md) and (max-width: $sp-breakpoints-xl){
    gap: 40px;

  }
  @media (min-width: $sp-breakpoints-xl){
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
  }
}
.selected-work__box--1{
  @media (min-width: $sp-breakpoints-xl){
    flex-direction: row-reverse;
  }
}
.selected-work__img {
  display: block;
  object-fit: cover;

  @media  (max-width: $sp-breakpoints-xl){
    width: 100%;
    height: 100%;
  }
}

.selected-work__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 198px;
  min-width: 98%;
  padding-bottom: 40px;

  @media (min-width: $sp-breakpoints-md) and (max-width: $sp-breakpoints-xl) {
    padding-bottom: 70px;
    height: 209px;

  }
  @media (min-width: $sp-breakpoints-xl) {
    height: 567px;
    min-width: 31%;
    justify-content: space-around;
  }

  .selected-work__subtitle {
    color: #000;
    font-family: $sp-font-Gilroy-Bold;
    font-size: 35px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
}
.selected-work__wrapper{
  display: flex;
  gap: 30px;
}

.selected-work__shell{
  align-self: flex-end;
  display: flex;
  justify-content: end;
}

.selected-work__link-disc{
  display: flex;
  align-items: center;
  justify-content: center;
  color: $sp-color-white;
  font-family: $sp-font-Gilroy-Medium;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
  border-radius: 50px;
  background-color: $sp-color-black;
  width: 27%;
  height: 33px;
  padding: 10px 53px 10px 30px;
  position: relative;
}
.selected-work__link-disc:after{
  content: "";
  width: 13px;
  height: 21px;
  background-image: url("../images/Group1.svg");
  background-size: 100% 60%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  right: 15%;
  top: 33%;
}

.selected-work__link{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  color: $sp-color-black;
  font-family: $sp-font-Gilroy-Medium;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  border-radius: 50px;
  background: $sp-color-white;
  padding: 15px 0;
}
.selected-work__link--dd{
  width: 176px;
}
.selected-work__link--nm{
  width: 104px;
}
.selected-work__link--aw {
  @media (min-width: $sp-breakpoints-md) {
    margin-left: 45%;
    width: 162px;
    padding: 15px 0;
  }
}



