body{
  background-color:  #F5F3EA;
}
.container{
  margin: 0 auto;
  padding: 10px;
  @media (min-width: $sp-breakpoints-xl){
    max-width: 1780px;
    padding: 0;
  }
}
a{
  text-decoration: none;
}


