@import "global/reset";
@import "global/variables";
@import "global/base";
@import "global/font";
@import "blocks/header";
@import "blocks/section-Dianne";
@import "blocks/section-logo";
@import "blocks/selected-work";
@import "blocks/our-team";



main {
    left: 0;
    right: 0;
    background:  #F5F3EA;
}
section {

    border-bottom: 1px solid #252525;
    left: 0;
    right: 0;
    background: #F5F3EA;
}

.container {
    width: 1920px;
    margin: 0;
    margin: auto;
}
a {
    text-decoration: none;
}
li {
    text-decoration: none;
}
.section__whatIdo {
    height: 1137px;
    display: flex;
}
.section__whatIdo--image {
    background-image: url(../images/Frame\ 3.png);
    width: 940px;
    height: 1137px;
}
.section__whatIdo--container {
    width: 940px;
    height: 1137px;
    background:  #F5F3EA;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section__whatIdo--content {
    background:  #F5F3EA;
    height: 997px;
    width: 766px;
}
h1 {
    font-family: "Gilroy", sans-serif;
    font-weight: 300;
    font-size: 150px;
    text-transform: uppercase;
    color: #252525;
    white-space: nowrap;
    padding-bottom: 100px;
}

.section__whatIdo--content__item1 {
    width: 759px;

}
.section__whatIdo--content__item2 {
    width: 759px;

}
.section__whatIdo--content__line {
    border: 1px solid #252525;
    width: 759px;
    height: 0px;
    margin-top: 40px;
    margin-bottom: 40px;
}
h2 {
    font-family: "Gilroy-SemiBold", sans-serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 109%;
    text-transform: uppercase;
    color: #000;
    padding-bottom: 10px;
}
h2:before {
    content: attr(data-index);
    font-family: "Gilroy-Light", sans-serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 109%;
    text-transform: uppercase;
    color: #000;
    padding-right: 10px;
}
.content__item1--text {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #000;
    font-family: "Inter", sans-serif;
}
.section__Myclients {
    border-top: 1px solid #252525;
    height: 1608px;
    background: #F5F3EA;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section__Myclients--content {
    height: 1508px;
    width: 1780px;

}
h3 {
    font-weight: 300;
    font-size: 212px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: #252525;
    padding-bottom: 30px;
}
.section__Myclients--content__grid {


    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

}
.section__Myclients--cart {

    width: 587px;
    height: 567px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.border__cart {
    border-bottom:  1px solid #000;
}
.border__cart2 {
    border-right:  1px solid #000;
}
.border__cart3 {
    border-bottom: none;
}
.section__Myclients--content__cart {
    width: 550px;
    height: 480px;

    position: relative;
}
.content__cart--logo {
    padding-bottom: 30px;
}
.content__cart--text1 {
    font-weight: 800;
    font-size: 40px;
    line-height: 110%;
    color: #333;
    font-family: "Gilroy", sans-serif;
    padding-bottom: 30px;
}
.content__cart--text2 {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #000;
    font-family: "Inter", sans-serif;

}
.content__cart--blok {
    width: 395px;
    height: 70px;
    display: flex;
    background:  #F5F3EA;
    align-items: center;
    gap: 20px;
    position: absolute;
    bottom: 0;
}
.content__cart--blok__title {
    width:100%;
    background: #F5F3EA;
    height: 50px;
}
h4 {
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    color: #000;
    font-family: "Inter", sans-serif;
    padding-bottom: 10px;

}
.blok__title--profession {
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    color: #000;
    font-family: "Inter", sans-serif;
}
.section__contact {
    border-top: 1px solid #252525;
    height: 632px;
    background: #F5F3EA;
    display: flex;
    align-items: center;
    justify-content: center;
}
.section__contact--content {
    width: 1780px;
    height: 432px;
    background:  #F5F3EA;
    display: flex;
    gap: 40px;
}
.section__contact--title {
    width: 871px;
    height: 179px;
    background:  #F5F3EA;
}
h5 {
    font-weight: 300;
    font-size: 155px;
    text-transform: uppercase;
    color: #333;
    font-family: "Gilroy", sans-serif;
}
.section__contact--text {
    width: 870px;
    height: 432px;
    background:  #F5F3EA;
}
.contact__text--item1 {
    font-weight: 400;
    font-size: 64px ;
    text-transform: uppercase;
    color: #252525;
    font-family: "Gilroy-Bold", sans-serif;
    padding-bottom: 30px;
}
.contact__text--item2 {
    font-weight: 400;
    font-size: 34px;
    color: #252525;
    font-family: "Gilroy-Medium", sans-serif;
    padding-bottom: 30px;
}
.contact__text--button {
    border-radius: 50px;
    background: #252525;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 195px;
    height: 53px;
    border: none;
    cursor: pointer;
}
.contact__text--button__text {
    font-family: "Gilroy-Medium", sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;
    color: #fff;
}
.footer__container {
    border-top: 1px solid #252525;
    height: 80px;
    background: #F5F3EA;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer__container--content {
    width: 1780px;
    height: 30px;
    background:  #F5F3EA;
    display: flex;

    justify-content: space-between;
}
.footer__container--title {
    font-weight: 400;
    font-size: 18px;
    color: #333;
    font-family: "Gilroy-Regular", sans-serif;
}
.footer__container--title2 {
    font-family: "Gilroy-SemiBold", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #333;
}
.footer__container--link {
    width:150px;
    height:30px;
    background:  #F5F3EA;
}
.footer__container--link ul {
    display: flex;
    gap: 10px;
}

@media (max-width:768px) {

    main {
        left: 0;
        right: 0;
        background: #F5F3EA;
    }
    footer {
        left: 0;
        right: 0;
        background: #F5F3EA;
    }
    .container {
        width: 478px;
        margin: 0;
        margin: auto;
    }
    .section__whatIdo {
        height: auto;
        margin-bottom: 10px;
        display: flex;
        flex-wrap: wrap;
        background: #F5F3EA;
    }
    .section__whatIdo--image {
        width: 478px;
        height: 478px;
    }
    .section__whatIdo--container {
        height: 984px;

    }
    .section__whatIdo--content {
        height: 954;
        width: 478px;
        background:  #F5F3EA;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    h1 {
        font-weight: 300;
        font-size: 80px;
        text-transform: uppercase;
        text-align: center;
        color: #252525;
        font-family: "Gilroy", sans-serif;
        padding-bottom: 40px;
    }
    .section__whatIdo--content__item1 {
        width: 438px;
        background:  #F5F3EA;
    }
    .section__whatIdo--content__item2 {
        width: 438px;
        background:  #F5F3EA;
    }
    h2 {
        font-family: "Gilroy-SemiBold", sans-serif;
        font-weight: 400;
        font-size: 35px;
        text-transform: uppercase;
        color: #000;
    }
    .content__item1--text {
        font-weight: 400;
        font-size: 20px;
        line-height: 140%;
        color: #000;
    }
    .section__whatIdo--content__line {
        margin-top: 30px;
        margin-bottom: 30px;
        border: 1px solid #252525;
        width: 438px;
        height: 0px;
    }
    .section__Myclients {
        height: 3875px;
        border-top: 1px solid #252525;
        display: flex;
        flex-wrap: wrap;
    }
    h3 {
        font-weight: 300;
        font-size: 80px;
        text-transform: uppercase;
        color: #252525;
        font-family: "Gilroy", sans-serif;
        white-space: nowrap;
        padding-bottom: 0;
    }
    .section__Myclients--content {
        width: 478px;
        height: 3835px;
    }
    .section__Myclients--content__grid {

        width: 418px;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;

    }
    .section__Myclients--cart {
        width: 418px;
        height: 631px;
        border-bottom:  1px solid #252525;
        border-right: none;
    }
    .section__Myclients--content__cart {
        width: 418px;
        height: 551px;
    }
    .boreder__cart3 {
        border: none;
    }
    .content__cart--text1 {
        font-weight: 800;
        font-size: 40px;
        line-height: 110%;
        color: #333;
        font-family: "Gilroy", sans-serif;
    }
    .content__cart--text2 {
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        color: #000;
        font-family: "Inter", sans-serif;
    }
    .section__contact {
        height: 671;
        border-top: 1px solid #252525;
        background:  #F5F3EA;


    }
    .section__contact--content {
        width: 478px;
        height: 591px;
        display: table-column;

    }
    .section__contact--title {
        width: 438px;
        height: 92px;
        margin-left: auto;
        margin-right: auto;

    }
    h5 {
        font-weight: 300;
        font-size: 80px;
        text-transform: uppercase;
        text-align: center;
        color: #333;
        font-family: "Gilroy", sans-serif;
    }
    .section__contact--text {
        width: 438px;
        height: 469px;
        margin-left: auto;
        margin-right: auto;
    }
    .contact__text--item1 {
        font-weight: 400;
        font-size: 50px;
        text-transform: uppercase;
        text-align: center;
        color: #252525;
    }
    .contact__text--item2 {
        font-weight: 400;
        font-size: 30px;
        text-align: center;
        color: #252525;
    }
    .footer__container {
        border-top: 1px solid #252525;
        height: 120px;
    }
    .footer__container--content {
        width: 418px;
        height: 72px;
        display: table-column;

    }
    .footer__container--title {
        font-weight: 400;
        font-size: 18px;
        color: #333;
        font-family: "Gilroy-Regular", sans-serif;
    }
    .footer__container--link {
        width:150px;
        height:30px;
        background:  #F5F3EA;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
    .footer__container--link ul {
        display: flex;
        gap: 10px;
    }
    .contact__text--button {
        border-radius: 50px;
        background:#252525;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        width:100%;
        height: 53px;
        border: none;
        cursor: pointer;
    }
}


